<div id="page-wrap">
  <app-header-black></app-header-black>
  <div id="homepage">
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>
      <!-- <a
        routerLink="/party"
        routerLinkActive="active"
        onClick="playSong()"
        class="parties-btn home-btn"
      >
        <div class="party"></div>
      </a>
      <a routerLink="/run" onCLick="playSong()" class="runs-btn home-btn">
        <div class="run"></div>
      </a> -->

      <div class="container text-center">
        <div class="hero-image">
          <img class="logo" src="/assets/images/highbeamsdubai-home-logo.png" />
          <img class="" style="position: relative !important; width: 133px; margin-top: 100px;" src="/assets/images/construction.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="dirt-white"></div>
  <app-footer-black></app-footer-black>
</div>
