<div class="dirt"></div>
<div id="page-wrap" class="white">
  <app-header-white></app-header-white>
  <div id="about">
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>
      <!-- <img src="/assets/images/highbeamsdubai-about-background.png" width="100%" height="auto" alt=""> -->
      <div class="container container-about">
        <div class="row">
          <div class="col-lg-6 col-12">
            <img
              src="/assets/images/hb-about-main.jpg"
              class="about-img"
              alt=""
            />
          </div>
          <div class="col-lg-6 col-12">
            <p class="hb-title">HIGH BEAMS <span>vibes first</span></p>
            <p class="text">
              High Beams is a run crew and sound system based in Dubai, and
              founded on the ethos of "Vibes First". When you have people in
              your crew from all over the world, vibes is the common language.
              And wherever you're DJing, setting good vibes is everything.
            </p>
            <p class="text">
              Like other run crews, our training involves more than long
              distance running. We also sprint, box, surf and occasionally wear
              Bane like altitude masks (What up, Corie). Like other sound
              systems, we can spin records - any genre - and work the mic (Tell
              'em, Nnamdi).
            </p>
            <p class="text">
              If you're interested in running with High Beams, or booking us for
              a gig, DM
              <a href="www.instagram.com/highbeamsdubai" target="_blank"
                >@highbeamsdubai</a
              >. We'll hit you back with details... and the appropriate meme...
              if we like your vibes.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="instatitle">
              <p>CAPTAINS</p>
            </div>
          </div>
        </div>
        <div class="row sponsors justify-content-md-center">
          <div class="col-md-4">
            <a
              href="http://instagram.com/djcrownprince"
              target="_blank"
              class="shade sponsor sponsor-4"
              ><img src="/assets/images/instagram.png" alt=""
            /></a>
            <p class="sponsor-name">
              CORIE <br />
              WEAVER <br />
              <span>DJ CROWN PRINCE </span>
            </p>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a
              href="http://instagram.com/1takennandos"
              target="_blank"
              class="shade sponsor sponsor-1"
              ><img src="/assets/images/instagram.png" alt=""
            /></a>
            <p class="sponsor-name">
              NNAMDI <br />
              ELUWAH <br />
              <span>DJ 1 TAKE NNANDOS</span>
            </p>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a
              href="http://instagram.com/i_riddick"
              target="_blank"
              class="shade sponsor sponsor-6"
              ><img src="/assets/images/instagram.png" alt=""
            /></a>
            <p class="sponsor-name">
              IAN <br />
              RIDDICK <br />
              <span>MARKETING DIRECTOR (MISS LILY’S)</span>
            </p>
            <p class="description"></p>
            <!-- <p class="link">@i_riddick</p> -->
          </div>

          <!-- <div class="col-md-4">
                        <a href="http://instagram.com/bj_deguzman" target="_blank" class="shade sponsor sponsor-3"><img src="/assets/images/instagram.png" alt=""></a>
                        <p class="sponsor-name">BJ <span>CREATIVE DIRECTOR</span></p>
                        <p class="description"> </p>
                    </div> -->
        </div>
        <div class="row">
          <div class="col">
            <div class="instatitle">
              <p>MEMBERS</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col">
            <a
              href="http://instagram.com/b.j.deguzman"
              target="_blank"
              class=""
            >
              <p class="sponsor-name">
                B.J. DE GUZMAN
                <!-- <span>CREATIVE DIRECTOR</span> -->
              </p>
              <p class="description">Creative Director (Jungle Beige)</p>
              <p class="link">@b.j.deguzman</p>
            </a>
          </div>
          <div class="col">
            <a
              href="http://instagram.com/camelsmariam"
              target="_blank"
              class=""
            >
              <p class="sponsor-name">
                MARYAM NASHAAT
                <!-- <span>PAINTER</span> -->
              </p>
              <p class="description">Artist</p>
              <p class="link">@meryamnashaat</p>
            </a>
          </div>
          <div class="col">
            <a href="http://instagram.com/midoraibi" target="_blank" class="">
              <p class="sponsor-name">
                ABDELHAMID ORAIBI
                <!-- <span>MARKETER</span> -->
              </p>
              <p class="description">Marketing Director (PUMA)</p>
              <p class="link">@midoraibi</p>
            </a>
          </div>
          <!-- <div class="col">
                        <a href="http://instagram.com/i_riddick" target="_blank" class="">
                            <p class="sponsor-name">IAN
                                <span>MARKETER</span>
                            </p>
                            <p class="description">Head of Marketing at Miss Lily's DXB</p>
                            <p class="link">@i_riddick</p>
                        </a>
                    </div> -->
          <div class="col">
            <a href="http://instagram.com/chasbbi" target="_blank" class="">
              <p class="sponsor-name">
                MO CHASBI
                <!-- <span>SPORTS</span> -->
              </p>
              <p class="description">Footballer</p>
              <p class="link">@chasbbi</p>
            </a>
          </div>
        </div>
        <div class="row justify-content-md-center pt-5">
          <div class="col">
            <a
              href="http://instagram.com/stephen_allsop"
              target="_blank"
              class=""
            >
              <p class="sponsor-name">
                STEPHEN ALLSOP
                <!-- <span>MANAGER</span> -->
              </p>
              <p class="description">General Manager (Miss Lily’s)</p>
              <p class="link">@stephen_allsop</p>
            </a>
          </div>
          <div class="col">
            <a href="http://instagram.com/djcolione" target="_blank" class="">
              <p class="sponsor-name">
                COLIN WEAVER
                <!-- <span>DJ</span> -->
              </p>
              <p class="description">DJ Colione</p>
              <p class="link">@djcolione</p>
            </a>
          </div>
          <div class="col">
            <a href="http://instagram.com/cy_dxb" target="_blank" class="">
              <p class="sponsor-name">
                CYRUS
                <!-- <span>MODEL</span> -->
              </p>
              <p class="description">Lawyer & Model</p>
              <p class="link">@cy_dxb</p>
            </a>
          </div>
          <div class="col">
            <a href="http://instagram.com/foxanioll" target="_blank" class="">
              <p class="sponsor-name">
                FOX
                <!-- <span>PR</span> -->
              </p>
              <p class="description">Mr. Dubai Life Connection</p>
              <p class="link">@foxanioll</p>
            </a>
          </div>
        </div>

        <div class="row sponsors justify-content-md-center pt-5">
          <div class="col">
            <a
              href="http://instagram.com/mynameissheldon"
              target="_blank"
              class=""
            >
              <p class="sponsor-name">
                SHELDON
                <!-- <span>COACH</span> -->
              </p>
              <p class="description">Coach</p>
              <p class="link">@mynameissheldon</p>
            </a>
          </div>
          <div class="col">
            <a href="http://instagram.com/aminmartialarts" target="_blank">
              <p class="sponsor-name">
                AMIN SHARIFI
              </p>
              <p class="description">
                Coach
              </p>
              <p class="link">@aminmartialarts</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/eissa_santo" target="_blank">
              <p class="sponsor-name">
                EISSA SANTO
              </p>
              <p class="description">
                Footballer
              </p>
              <p class="link">@eissa_santo</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/misterflosss" target="_blank">
              <p class="sponsor-name">
                GABY
              </p>
              <p class="description">
                Musician
              </p>
              <p class="link">@misterflosss</p>
            </a>
          </div>
        </div>
        <div class="row sponsors justify-content-md-center">
          <div class="col">
            <a href="http://instagram.com/uzomamorris" target="_blank">
              <p class="sponsor-name">
                MORRIS
              </p>
              <p class="description">
                Student
              </p>
              <p class="link">@uzomamorris</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/vernay_sa" target="_blank">
              <p class="sponsor-name">
                VERNAY
              </p>
              <p class="description">
                Dancer & PT
              </p>
              <p class="link">@vernay_sa</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/gabistockler" target="_blank">
              <p class="sponsor-name">
                GABI STOCKLER
              </p>
              <p class="description">
                Coach
              </p>
              <p class="link">@gabistockler</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/ch_wilson85" target="_blank">
              <p class="sponsor-name">
                CHARLIE WILSON
              </p>
              <p class="description">
                Buyer (Namshi)
              </p>
              <p class="link">@ch_wilson85</p>
            </a>
          </div>
        </div>

        <div class="row sponsors justify-content-md-center pt-5">
          <div class="col">
            <a href="http://instagram.com/adjwho" target="_blank">
              <p class="sponsor-name">
                ADJWHO
              </p>
              <p class="description">
                Lawyer
              </p>
              <p class="link">@adjwho</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/salbroutine" target="_blank">
              <p class="sponsor-name">
                SAL
              </p>
              <p class="description">
                Trainer
              </p>
              <p class="link">@salbroutine</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/nelita_v" target="_blank">
              <p class="sponsor-name">
                NELITA VILLEZON
              </p>
              <p class="description">
                Martial Artist & PT
              </p>
              <p class="link">@nelita_v</p>
            </a>
          </div>

          <div class="col">
            <a href="http://instagram.com/myfashdiary" target="_blank">
              <p class="sponsor-name">
                TALA SAMMAN
              </p>
              <p class="description">
                DJ & Blogger
              </p>
              <p class="link">@myfashdiary</p>
            </a>
          </div>
        </div>
        <div class="row sponsors justify-content-md-center pt-5">
          <div class="col">
            <a href="http://instagram.com/anicmarina" target="_blank">
              <p class="sponsor-name">
                MARINA ANIC
              </p>
              <p class="description">
                Marketing Manager (PUMA)
              </p>
              <p class="link">@anicmarina</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dirt-white"></div>
  <app-footer-white></app-footer-white>
</div>
