<div id="page-wrap">
    <app-header-black></app-header-black>
    <div id="runs">
        <div id="map-runs" class="hero d-flex flex-column justify-content-center" full-page-hero>

        </div>
        <div class="info-box">
            <p class="title">{{currentMarker.title}}</p>
            <p class="info">
                {{currentMarker.description}}
            </p>
            <div id="next-event" (click)="nextMarker()">SHOW NEXT EVENT</div>
        </div>

    </div>
    <div class="dirt-white"></div>
    <app-footer-black></app-footer-black>
</div>