<div id="page-wrap">
    <app-header-black></app-header-black>
    <div id="runs">
        <div id="map-runs" class="hero d-flex flex-column justify-content-center" full-page-hero>

        </div>
        <div class="info-box">
            <p class="title">DUBAI SPORTS WORLD </p>
            <p class="info">
                Dubai World Trade Centre | Sunday & Thursday | DM <a href="http://instagram.com/highbeamsdubai" target="_blank">@highbeamsdubai</a> for invites
            </p>
        </div>

    </div>
    <div class="dirt-white"></div>
    <app-footer-black></app-footer-black>
</div>