<footer id="page-footer" style="" class="footer-white navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
          <a href="https://www.instagram.com/highbeamsdubai/" target="_blank" class="instagram-hb" style="color: black;"><img src="/assets/images/instagram-icon-black.png" alt="">Vibes First. <span>Powered by PUMA.</span></a>
        </div>
        <div class="black" id="play-pause" onClick="togglePlay()" style="background: url('/assets/images/sound-black.png');"></div>
        
      </footer>