<footer id="page-footer" style="" class="navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
          <a href="https://www.instagram.com/highbeamsdubai/" target="_blank" class="instagram-hb" style="color: white;"><img src="/assets/images/instagram-icon-white.png" alt="">Vibes First. <span>Powered by PUMA.</span></a>
        </div>
        <div class="white" id="play-pause" onClick="togglePlay()" style="background: url('/assets/images/sound-white.png');"></div>
        
      </footer>