<div class="dirt"></div>
<div id="page-wrap" class="white">
  <app-header-white></app-header-white>
  <div id="gallery">
    <div class="hero d-flex flex-column" full-page-hero>
      <!-- <img src="/assets/images/highbeamsdubai-gallery-background.png" width="100%" height="auto" alt=""> -->

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="grid">
              <!--  <div class="grid-item" *ngFor="let image of images">
            <div class="red"></div><div class="description"><p>{{image.act}}</p><p>{{image.place}}</p></div>
            <img [src]="image.src" />
          </div> -->
              <div class="renglon">
                <div class="columna">
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-01.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-02.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-03.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Dubai Canal</p>
                    </div>
                    <img src="/assets/images/gallery/run-dubaicanal-05.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Satwa</p>
                    </div>
                    <img src="/assets/images/gallery/run-satwa-05.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Satwa</p>
                    </div>
                    <img src="/assets/images/gallery/run-satwa-06.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>HIGH BEAMS TAKEOVER</p>
                      <p>Miss Lily's</p>
                    </div>
                    <img
                      src="/assets/images/gallery/takeover-tingaling-07.jpg"
                    />
                  </div>
                </div>

                <div class="columna">
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-04.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-05.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-06.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Kite Beach</p>
                    </div>
                    <img src="/assets/images/gallery/run-kite-01.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Sports City</p>
                    </div>
                    <img src="/assets/images/gallery/run-track-07.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Dubai Water Canal</p>
                    </div>
                    <img src="/assets/images/gallery/run-water-canal-02.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>HIGH BEAMS TAKEOVER</p>
                      <p>Miss Lily's</p>
                    </div>
                    <img
                      src="/assets/images/gallery/takeover-tingaling-09.jpg"
                    />
                  </div>
                </div>

                <div class="columna">
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-07.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-08.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-09.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p></p>
                      <p></p>
                    </div>
                    <img src="/assets/images/gallery/new-10.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Kite Beach</p>
                    </div>
                    <img src="/assets/images/gallery/run-kite-02.jpg" />
                  </div>
                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>TRAINING</p>
                      <p>36 Chambers</p>
                    </div>
                    <img src="/assets/images/gallery/train-36ch-05.jpg" />
                  </div>

                  <div class="grid-item">
                    <div class="red"></div>
                    <div class="description">
                      <p>RUN</p>
                      <p>Hatta Hills</p>
                    </div>
                    <img src="/assets/images/gallery/run-hatta-02.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dirt-white"></div>
  <app-footer-white></app-footer-white>
</div>
