<div class="dirt"></div>
<div id="page-wrap" class="white">
    <app-header-white></app-header-white>
    <div id="schedule">
        <div class="hero d-flex flex-column justify-content-center" full-page-hero>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="month">
                            <p>AUTUMN 2018</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-8">
                        <div class="copy">
                            <p>It's finally cool enough to take our asses outside for runs and workouts! We're so hype for the new season that we've added an additional session every week. DM 
                                <a href="http://instagram.com/highbeamsdubai" target="_blank">@highbeamsdubai</a>     for invites and details.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Neighborhood Run </p>
                            <p class="date"> October 2 </p>
                            <p class="place"> Dubai Canal </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Circuit Session </p>
                            <p class="date"> October 6 </p>
                            <p class="place"> Transform Altitude Gym </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Neighborhood Run </p>
                            <p class="date"> October 9 </p>
                            <p class="place"> Umm Suqiem Park </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Circuit Session </p>
                            <p class="date"> October 13 </p>
                            <p class="place"> Transform Altitude Gym </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Neighborhood Run </p>
                            <p class="date"> October 16 </p>
                            <p class="place"> Amongst Few / Jumeirah </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Circuit Session </p>
                            <p class="date"> October 20 </p>
                            <p class="place"> Transform Altitude Gym </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Plyometrics & Sprints </p>
                            <p class="date"> October 23 </p>
                            <p class="place"> "36 Chambers" Bridge </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Circuit Session </p>
                            <p class="date"> October 27 </p>
                            <p class="place"> Transform Altitude Gym </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="event">

                            <p class="name">  Neighborhood Run </p>
                            <p class="date"> October 30 </p>
                            <p class="place"> Dubai Canal </p>
                        </div>
                        </div>
                    </div>

            </div>

        </div>


    </div>
    <div class="dirt-white"></div>
    <app-footer-white></app-footer-white>
</div>