<div class="dirt"></div>
<div id="page-wrap" class="white">
    <app-header-white></app-header-white>
    <div id="schedule">
        <div class="hero d-flex flex-column justify-content-center" full-page-hero>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="month">
                            <p>SUMMER 2018</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-8">
                        <div class="copy">
                            <p>Let's be real, it isn't wise to run outdoors during Dubai summers. It's not impossible, and may be considered brave, but it's overall unnecessary. Especially when we can use the summer season to focus on indoor stuff: circuit
                                training, basketball, football and all the trash talking that comes with it! DM
                                <a href="http://instagram.com/highbeamsdubai" target="_blank">@highbeamsdubai</a> for invites.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="event">
                            <p class="name">BASKETBALL</p>
                            <p class="date">Sunday</p>
                            <p class="time">12:00PM - 2:00PM</p>
                            <p class="place">Dubai Sports World</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="event">
                            <p class="name">CIRCUIT TRAINING</p>
                            <p class="date">Tuesday</p>
                            <p class="time">6:00PM - 8:00PM</p>
                            <p class="place">Dubai Sports World</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="event">
                            <p class="name">BASKETBALL</p>
                            <p class="date">Thursday</p>
                            <p class="time">12:00PM - 2:00PM</p>
                            <p class="place">Dubai Sports World</p>
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="event">
                            <p class="name">DOWNTOWN RUN</p>
                            <p class="date">April 24th</p>
                            <p class="time">7:00pm</p>
                            <p class="place">TBD</p>
                        </div>
                    </div> -->
                </div>

            </div>

        </div>


    </div>
    <div class="dirt-white"></div>
    <app-footer-white></app-footer-white>
</div>